Flask==3.0.3
Werkzeug==3.0.1
numpy==1.26.4
pandas==2.2.1
opencv-python-headless==4.9.0.80
supervision==0.19.0
torch==2.2.1+cpu
torchvision==0.17.1+cpu
Pillow==10.2.0
--extra-index-url https://download.pytorch.org/whl/cpu
